* {
    margin: 0;
    padding: 0;
}
html, body { 
    height: 100%; 
    background-color: black; 
}
#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.dot {
    fill: #FFFF00; /* Pure yellow */
    width: 5px;
    height: 5px;
    opacity: 0;
    rx: 2.5;
    filter: drop-shadow(0 0 3px #FFA500);
    transform: translate(
        calc(var(--dx, 0) * -10px),
        calc(var(--dy, 0) * -10px)
    );
}
.dot.show {
    animation: slideIn 1s ease-out forwards;
}
#pacman{
    height: 15px;
    width: 15px;
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

